name: Test

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - "*"

jobs:
  test-action:
    name: Test Action
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Install Go
        uses: WillAbides/setup-go-faster@v1.14.0
        with:
          go-version: "*"

      - name: Run action
        uses: ./
